body{
    background-color:rgb(18, 17, 17);
}
h1{
    color: rgb(17, 255, 0);
    font-family: fantasy;
    text-align: center;
}
ul{
    list-style-type:none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    background-color:#333;
    color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
}

/*Classes*/
.btn-delete{

}
.btn-new{

}