body{
    background-color:rgb(18, 17, 17);
}
h1{
    color: rgb(17, 255, 0);
    font-family:fantasy;
    text-align: center;
    margin-bottom: 3px;
}
ul{
    list-style-type:none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    background-color:#333;
    color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    /*box-shadow:0px 0px 5px 4px white;*/
}
input[type="checkbox"]{
    cursor:pointer;
}
header{
    position: relative;
    padding: 1px;
}
header img{
    position: absolute;
    left: 5px;  
    height: 80px; 
    width: 80px;  
}
form{
    display:grid ;
    background-color: green;
    padding: 5px;
    overflow:scroll;
}

/*Seletores de Classes*/
.btn-delete{
    cursor: pointer;

    background-color: red;
    /*box-shadow:0px 0px 5px 4px black;/*Rever significado de cada valor*/
    
}
.btn-new{
    position: fixed;/*Torna o icone fixo independente do que eu fiz com a página*/

    right: 10px;
    bottom:30px;
    background-color: green;
    font-size: 25px;
    cursor: pointer;
    width: 45px;
    height: 40px;
}
.habito-concluido{
    background-color: rgb(98, 180, 17);
    /*box-shadow:2px 2px 5px 4px white ;*/
}
.hidden{/*Vai esconder o texto ou a input quando o usuario clicar*/
    display: none;
}
.dica{
    background-color: #2c2c2c;
    border-radius: 5px;
    border-style:double;
    color:darkgray;
    border-color: rgb(90, 103, 103);
}

/*Seletores de atributo*/
li[data-dificuldade = "facil"]{
    box-shadow:2px 2px 5px 1px rgb(81, 81, 249);
}
li[data-dificuldade = "medio"]{
    box-shadow:2px 2px 5px 1px rgb(4, 247, 61) ;
}
li[data-dificuldade = "dificil"]{
    box-shadow:2px 2px 5px 1px rgb(228, 5, 5);
}

#carteira {
    /* --- O POSICIONAMENTO --- */
    position: absolute;
    right: 15px; /* "Cola" 15px da borda direita */
    
    top: 25px; 

    display: flex; /* Para alinhar o cifrão e o <span> */
    align-items: center;
    
    background-color: #333; /* Fundo escuro */
    color: #ffc107;      /* Cor de "ouro" */
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #555;
}
#moedas {
    margin-left: 8px;
}