body{
    background-color:rgb(46, 45, 45);
    overflow-x: hidden;
    
}
h1{
    color: rgb(33, 255, 17);
    font-family:'black ops one',system-ui;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 5px 0 rgba(92, 213, 84, 0.7);
}
ul{
    list-style-type:none;
    padding: 0;
}

input[type="checkbox"]{
    cursor:pointer;
}
header{
    position: relative;
    padding: 1px;
    margin: 0px;
}
hr{
    margin: 1px;
}
header img{
    position: absolute;
    left: 5px;  
    bottom: 1px;
    height: 110px; 
    width: 130px;  
}
form{
    display:grid ;
    background-color: green;
    padding: 5px;
    overflow:scroll;
    color: whitesmoke;
}
li{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 4px;
    background-color:#333;
    color: white;
    padding: 7px;
    position: relative;
    height: 30px;
    border-radius: 4px;
    border-left-style:solid;
    border-left-width: 5px;
}
li span{
    font-family: 'Times New Roman', Times, serif;    
}
li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5) !important;  /* O !important garante que sobrescreva a sombra da dificuldade se precisar */
}
/*Seletores de Classes*/
.btn-delete{
    cursor: pointer;
    background-color:rgb(92, 89, 89);
    /*box-shadow:0px 0px 5px 4px black;/*Rever significado de cada valor*/
    
}
button[class = "btn-delete"]:hover{
    opacity: 0.5;
}
.btn-new{

    background-color:rgb(17, 255, 0);
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    height: 30px;
}
button[class ='btn-new']:hover{
    opacity: 0.6;
}
.habito-concluido{
    opacity:0.4;
    background-color: #0a0909;
}
.habito-concluido span:not(.streak-span){ /*Seleciona só o span de título do hábito concluido*/
    text-decoration: line-through;
}
.hidden{/*Vai esconder o texto ou a input quando o usuario clicar*/
    display: none;
}
.dica{
    cursor:pointer;
    background-color: #2c2c2c;
    border-style:groove;
    border-width: 3px;
    color:darkgray;
    border-color: rgb(51, 53, 51);
    padding: 3px;
    margin: 1px;
    border-left-color:#d1caca;
    border-bottom-color:#d1caca;

}
.dica summary{
    cursor: pointer;
}
.dica summary:hover{
    color:rgb(17, 255, 0);
}

.citacao{
    background-color: #2c2c2c;
    border-style:groove;
    border-width: 3px;
    color:darkgray;
    border-color: rgb(51, 53, 51);
    padding: 3px;
    margin: 1px;
    border-left-color:#d1caca;
    border-bottom-color:#d1caca;
}
.citacao summary{
    cursor: pointer;
}
.citacao summary:hover{
    color:rgb(17, 255, 0);
}
.streak-span {
    /* Tira da linha e flutua */
    position: absolute;
    top: -10px;  /* Sobe 10px para fora do card (efeito pendurado) */
    right: 50px; /* Fica à direita, mas dá espaço para o botão X não cobrir */
    
    /* Visual de Medalha */
    background-color: #e2881b;
    color: white;
    font-size: 0.75rem; 
    font-weight: bold;
    padding: 2px 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3); /* Sombra para dar profundidade */
    z-index: 2; /* Garante que fique por cima */
    
}
.inserirNome{
    background:transparent;
    outline: none;
    justify-content: center;
    height:auto;
    color: white;
    flex-grow:1;
}

/*Seletores de atributo*/
li[data-dificuldade = "facil"]{
    border-left-color: rgb(3, 243, 11);
}
li[data-dificuldade = "medio"]{
    border-left-color: rgb(30, 9, 225);
}
li[data-dificuldade = "dificil"]{
    border-left-color: rgb(255, 5, 5);
}

#carteira {
    position: absolute;
    right: 15px; /* "Cola" 15px da borda direita */
    
    top: 25px; 

    display: flex; /* Para alinhar o cifrão e o <span> */
    align-items: center;
    
    background-color: #333; /* Fundo escuro */
    color: #ffc107;      /* Cor de "ouro" */
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #555;
}
#moedas {
    margin-left: 8px;
}

